# Ignorar la carpeta node_modules
node_modules/

# Ignorar la carpeta dist
dist/

# Ignorar archivos de configuración del entorno (si tienes alguno)
.env

# Ignorar directorios de salida o compilación específicos
out/
build/

# Ignorar archivos de logs
*.log
